<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Adaptive Grid</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body class="gs-responsive-grids">
	<h1>Responsive Grids</h1>
    <br><br><br>
    <h2>Fluid</h2>
    <hr>
    <div class="row gs-responsive-grids-fluid">
        <div class="column medium-4">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea deleniti porro enim, hic recusandae placeat inventore vel, eius consequatur consectetur cupiditate, mollitia optio ullam similique quibusdam temporibus consequuntur voluptatum harum.
            </div>
        </div>
        <div class="column medium-4">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem mollitia libero blanditiis sapiente dignissimos eum, voluptatum animi ad, aliquid consectetur sunt beatae quidem nisi neque. Illo repellendus ipsum voluptatem corporis.
            </div>
        </div>
        <div class="column medium-4">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem mollitia libero blanditiis sapiente dignissimos eum, voluptatum animi ad, aliquid consectetur sunt beatae quidem nisi neque. Illo repellendus ipsum voluptatem corporis.
            </div>
        </div>
    </div>
    <hr>
    <h2>Adaptive</h2>
    <hr>
    <div class="row gs-responsive-grids-adaptive">
        <div class="column medium-4">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea deleniti porro enim, hic recusandae placeat inventore vel, eius consequatur consectetur cupiditate, mollitia optio ullam similique quibusdam temporibus consequuntur voluptatum harum.
            </div>
        </div>
        <div class="column medium-4">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem mollitia libero blanditiis sapiente dignissimos eum, voluptatum animi ad, aliquid consectetur sunt beatae quidem nisi neque. Illo repellendus ipsum voluptatem corporis.
            </div>
        </div>
        <div class="column medium-4">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem mollitia libero blanditiis sapiente dignissimos eum, voluptatum animi ad, aliquid consectetur sunt beatae quidem nisi neque. Illo repellendus ipsum voluptatem corporis.
            </div>
        </div>
    </div>
    <hr>
	

	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>