<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ajax Cache - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body>
	<h1>Ajax Cache</h1>

	<p>
		We want to render some Ajax content with Mustache. We fetch it from an ajax http endpoint only the first time it is requested.
	</p>

	<div>
		<a href="#" 
			data-render-ajax-content="" 
			data-mustache-template="[data-mustache-template-event]" 
			data-render-container="[data-render-container-event]">Click me to render Ajax Content</a>
	</div>

	<br />
	<br />

	<hr>
	<div data-render-container-event=""></div>
	<hr>

	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>