<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ajax Cache - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body>
	<h1>Ajax Cache</h1>

	<p>
		We want to render some Ajax content with Mustache. We fetch it from an ajax http endpoint only the first time it is requested.
		We are goin to do this in two ways:
	</p>
	<ul>
		<li>The first link click checks if content already is in DOM</li>
		<li>The second link caches the respons in a local object</li>
	</ul>

	<div>
		<a href="#" 
			data-render-ajax-content=""
			data-render-ajax-cache-type="h2" 
			data-render-ajax-mustache-template="window.app.eventMustacheTemplate()"
			data-render-ajax-container="[data-render-container-event]">Render Ajax Content With Selector Cache</a>
			
			<br>
			
		<a href="#"
			data-render-ajax-content=""
			data-render-ajax-content-id="101"
			data-render-ajax-cache-type="js" 
			data-render-ajax-mustache-template="window.app.eventMustacheTemplate()"
			data-render-ajax-container="[data-render-container-event]">Render Ajax Content With JS Cache</a>
			
			<br>
			
		<a href="#"
			data-render-ajax-content=""
			data-render-ajax-cache-type="" 
			data-render-ajax-mustache-template="window.app.eventMustacheTemplate()"
			data-render-ajax-container="[data-render-container-event]">Render Ajax Content With no Cache</a>
	</div>

	<br />
	<br />

	<hr>
	<div data-render-container-event=""></div>
	<hr>

	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>