<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Centering content - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>
<body>
	<h1>Centering content</h1>
	<p>There are various ways of centering content on the x and y axis in CSS. Here we are going to explore them</p>
	
	<h2>The Top bar</h2>
	<p>
		Lets create some evenly buttons
	</p>
	<div class="row">
		<div class="column small-2"></div>
		<div class="column small-2"></div>
		<div class="column small-2"></div>
		<div class="column small-2"></div>
		<div class="column small-2"></div>
		<div class="column small-2"></div>
	</div>
	<hr />
	
	
	<!-- inject:js -->
  <script src="/js/bld/lib.js"></script>
  <script src="/js/bld/app.js"></script>
  <!-- endinject -->
</body>
</html>