<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CSS Shapes - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body>
	<h1>CSS Shapes</h1>

    <p>We are going to look at how we can use CSS shapes to make text flow around images in a non rectangle way. Following <a href="http://www.html5rocks.com/en/tutorials/shapes/getting-started/">this guide</a>.</p>
    <p>
        Browser support for it is <a href="http://caniuse.com/#search=shape-outside">not good</a>
    </p>

    <div class="gs-css-shapes-01">
        <h2>Simple example</h2>
        <div>
            <img src="/images/green-circle-cut.png" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias beatae, porro odit distinctio aliquid voluptatum iste, corporis quisquam doloremque hic veniam, dolorem tempore consequuntur quo maiores qui libero repellendus nisi.</span><span>Earum inventore quod illum, nemo provident. Fugit, dolorem tempore earum commodi ea hic odio eaque quaerat at laudantium, eum eius quasi reprehenderit voluptates aut provident quos repellat delectus maxime expedita!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias beatae, porro odit distinctio aliquid voluptatum iste, corporis quisquam doloremque hic veniam, dolorem tempore consequuntur quo maiores qui libero repellendus nisi.</span><span>Earum inventore quod illum, nemo provident. Fugit, dolorem tempore earum commodi ea hic odio eaque quaerat at laudantium, eum eius quasi reprehenderit voluptates aut provident quos repellat delectus maxime expedita!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias beatae, porro odit distinctio aliquid voluptatum iste, corporis quisquam doloremque hic veniam, dolorem tempore consequuntur quo maiores qui libero repellendus nisi.</span><span>Earum inventore quod illum, nemo provident. Fugit, dolorem tempore earum commodi ea hic odio eaque quaerat at laudantium, eum eius quasi reprehenderit voluptates aut provident quos repellat delectus maxime expedita!
            </p>
        </div>
    </div>

	

	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>