<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cut and Copy Command - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body>
	<h1>Cut and Copy Command</h1>

    <p>We are going to look at how we can cut and copy programmatically. Following <a href="https://developers.google.com/web/updates/2015/04/cut-and-copy-commands">this guide</a>.</p>

	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>