<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Paragraph columns with text indent, also strong words - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body>
	<h1>Paragraph columns with text indent, also strong words</h1>

	<div class="gs-css-columns-and-indent-strong" data-first-words-in-p-tags-strong="3">
		<p>Stycke <em>ett</em>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolore repellat perspiciatis, magnam
			rem facere error est ut accusantium nostrum officia fuga magni delectus deleniti eligendi suscipit pariatur voluptatem
			sint! Slut.</p>
		<p>Stycke två. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolore repellat perspiciatis, magnam rem
			facere error est ut accusantium nostrum officia fuga magni delectus deleniti eligendi suscipit pariatur voluptatem sint!
			Slut.</p>
		<p>Stycke tre. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolore repellat perspiciatis, magnam rem
			facere error est ut accusantium nostrum officia fuga magni delectus deleniti eligendi suscipit pariatur voluptatem sint!
			Slut.</p>
	</div>


	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>