<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sticky header and footer - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body class="gs-sticky-header-and-footer">
    <header></header>
    <div class="page-wrap">
	   <h1>Sticky header and footer</h1>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit officia, accusamus rerum, dolor pariatur vitae magni? Obcaecati voluptatem dignissimos error. Laborum quaerat fugiat fugit quo magnam, non dicta assumenda itaque.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <h2>Här ifrån till evigheten</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit illum veniam cumque ipsam totam aliquid similique dignissimos placeat doloribus quae eligendi, itaque ratione magni est corrupti impedit voluptatem eos veritatis.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis suscipit recusandae iure incidunt eveniet, in nisi delectus, ullam cumque possimus minus praesentium nesciunt excepturi nam ipsum, dolor architecto vero earum.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quae tenetur officia incidunt autem quam eos nisi iure ipsam commodi possimus sunt labore, inventore numquam aspernatur, harum deserunt repellendus debitis.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur.
       </p>
       <h2>En till rubrik</h2>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magni esse maiores amet laboriosam corrupti quasi, molestias quis itaque inventore laudantium harum est, quae quidem recusandae delectus reprehenderit, totam dolorem.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora sunt modi aliquid illo asperiores ducimus commodi beatae eos magni minima quibusdam aut iste eligendi omnis quam excepturi, tenetur rem.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore perspiciatis modi recusandae magnam eum, commodi harum esse neque libero sed minus dignissimos ipsam, rerum maiores reiciendis sequi voluptatibus. Commodi, sequi.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates, natus culpa fuga distinctio tempore nostrum blanditiis atque totam iusto mollitia quam corporis assumenda, commodi veniam, expedita voluptatem fugit vel.
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aliquam recusandae impedit nam reprehenderit magnam molestiae natus quas voluptas repudiandae officiis delectus maiores quaerat, accusantium, incidunt! Natus est nemo perspiciatis.
       </p>
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam a suscipit nulla dolor, sunt praesentium eaque, rem, nisi quod repudiandae eius quia necessitatibus libero nobis repellendus, veritatis neque iusto?
           SLUT. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque dolor sequi deserunt ipsum. At laudantium tempore labore ullam. Minus mollitia impedit exercitationem, eaque, beatae blanditiis vitae in perferendis tenetur. SLUT.
       </p>
    </div>
    <footer class="site-footer"></footer>
    
	


	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>