<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sub menu styling - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body class="gs-sub-menu-styling">
	<h1>Sub menu styling</h1>
    
    <ul>
        <li class="lvl01">
            <a href="#">Nivå 1</a>
        </li>
        <li class="lvl01 open">
            <a href="#">Nivå 1</a>
            <ul>
                <li class="lvl02">
                    <a href="#">Nivå 2</a>
                </li>
                <li class="lvl02">
                    <a href="#">Nivå 2</a>
                </li>
                <li class="lvl02 open">
                    <a href="#">Nivå 2</a>
                    <ul>
                        <li class="lvl03">
                            <a href="#">Nivå 3</a>
                        </li>
                        <li class="lvl03 active">
                            <a href="#">Nivå 3</a>
                        </li>
                        <li class="lvl03">
                            <a href="#">Nivå 3</a>
                        </li>
                    </ul>
                </li>
                <li class="lvl02">
                    <a href="#">Nivå 2</a>
                </li>
            </ul>
        </li>
        <li class="lvl01">
            <a href="#">Nivå 1</a>
        </li>
    </ul>

	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>