<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Truncate at char or word - JS Build with Gulp and SASS</title>
	<meta name="description" content="JavaScript Build Automation With Gulp and SASS Architecture">
	<!-- inject:css -->
	<link rel="stylesheet" href="/sass/bld/app.css">
	<!-- endinject -->
</head>

<body>
	<h1>Truncate at char or word</h1>
	<h3>Truncate text at char</h3>
	<p data-truncate-at-char="7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolorum blanditiis, nobis nihil optio inventore esse voluptate
		accusantium asperiores dignissimos? Laborum harum laboriosam fuga, illo, aliquid enim incidunt magni possimus.</p>

	<h3>Truncate text at word</h3>
	<p data-truncate-at-word="6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolorum blanditiis, nobis nihil optio inventore esse voluptate
		accusantium asperiores dignissimos? Laborum harum laboriosam fuga, illo, aliquid enim incidunt magni possimus.</p>


	<!-- inject:js -->
	<script src="/js/bld/lib.js"></script>
	<script src="/js/bld/app.js"></script>
	<!-- endinject -->
</body>

</html>