body {
	height: auto;
	padding-top: rem-calc(60px);
	padding-right: rem-calc(30px);
	padding-bottom: rem-calc(60px);
	padding-left: rem-calc(30px);
}

.flex-test {
	display: flex;
	.column {
		background-color: pink;
	}
}

.box-sizing-test {
	width:200px;
	height:200px;
	background-color: olive;
	padding: 10px;
	box-sizing: content-box;
}

.push-pull-column-test {
	.column:nth-child(odd) {
		background-color: palegoldenrod;
	}
	.column:nth-child(even) {
		background-color: lightcyan;
	}
}

//
// Helpers

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.margin-bottom-md {
	margin-bottom: $gutter-md;
}