body {
	height: auto;
	padding-top: rem-calc(60px);
	padding-bottom: rem-calc(60px);
}

.flex-test {
	display: flex;
	.column {
		background-color: pink;
	}
}

.box-sizing-test {
	width:200px;
	height:200px;
	background-color: olive;
	padding: 10px;
	box-sizing: content-box;
}

.push-pull-column-test {
	.column:nth-child(odd) {
		background-color: palegoldenrod;
	}
	.column:nth-child(even) {
		background-color: lightcyan;
	}
}