// http://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically

@mixin top-bar-base-style(){
	font-size: rem-calc(13px);
	text-align: center;
	
	padding-left: rem-calc(10px);
	padding-right: rem-calc(10px);
	
	border-top: 1px solid olive;
	border-bottom: 1px solid olive;
	border-left: 1px solid olive;
	
	&:last-child {
		border-right: 1px solid olive;
	}
}

@mixin menu-item-top-bottom-padding(){
	padding-top: rem-calc(10px);
	padding-bottom: rem-calc(10px);
}

@mixin center-xy-with-absolute-and-transform(){
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:100%;
}



.gs-top-bar-simple {
	.column {
		@include top-bar-base-style();
		height: rem-calc(80px);
		span {
			line-height: rem-calc(80px);
		}
	}
}

.gs-top-bar-multiple-line {
	.column {
		@include top-bar-base-style();
		height: rem-calc(80px);
		
		// column needs to be position relative, which it is by Foundation
		
		// This is old school and only works if we know the width and height (which we dont in this case)
		// span {
		// 	position: absolute;
		// 	top:50%;
		// 	left:50%;
		// 	
		// 	margin-top: -19px;
		// 	margin-left: -83px;
		// }
		
		span {
			@include center-xy-with-absolute-and-transform();
		}
	}
}

.gs-top-bar-multiple-line-flex {
	display: flex;
	
	.column {
		@include top-bar-base-style();
		@include menu-item-top-bottom-padding();
		
		display: flex;
		align-items: center; 					// y-axis
		justify-content: center;				// x-axis (we need this despite 'text-align:center')
		
	}
}

.gs-top-bar-multiple-line-display-table {
	.column {
		@include top-bar-base-style();
		@include menu-item-top-bottom-padding();
		
		display: table;
		
		&:last-child {
			float: left;						// Else border gap in Chrome
		}
		
		span {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.gs-top-links-evenly-spaced {
	list-style-type: none;
	margin: 0;
	
	width:100%;
	max-width: rem-calc(1000px);
	
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	
	li {
		cursor:pointer;
		
		@include menu-item-top-bottom-padding();
		width:100%;
		display: flex;
		align-items: center; 					// y-axis
		justify-content: center;				// x-axis (we need this despite 'text-align:center')
		
		text-align: center;
		
		
		background-color: lightblue;
		
		&:first-child {
			background-color: lightgrey;
		}
		
		&:hover {
			background-color: lightcyan;
		}
	}
}

.gs-inline-list {								// Foundation widget
	margin: 0;
	
	width:100%;
	max-width: rem-calc(1000px);
	
	margin-left: auto;
	margin-right: auto;
}

.gs-top-links-evenly-spaced-display-table {
	list-style-type: none;
	margin: 0;
	
	width:100%;
	max-width: rem-calc(1000px);
	
	margin-left: auto;
	margin-right: auto;
	
	display: table;
	table-layout: fixed;						// Need this for evenly spacing, flexed
	
	li {
		cursor:pointer;
		
		@include menu-item-top-bottom-padding();
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		
		background-color: lightblue;
		
		&:first-child {
			background-color: lightgrey;
		}
		
		&:hover {
			background-color: lightcyan;
		}
	}
}

.gs-evenly-spaced-links {
	list-style-type: none;
	margin: 0;
	
	width:100%;
	max-width: rem-calc(1000px);
	
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	justify-content: space-between;				// space-between | space-around 
}