@media #{$medium-up} {

    .gs-css-shapes-01 {
        img {
            float:left;
            shape-outside: url('/images/green-circle-cut.png');
            shape-image-threshold: 0.5;
            shape-margin: 30px;
        }

    }

    .gs-css-shapes-02 {
        img {
            shape-outside: circle(47%);
            width: 600px;
            height: 600px;
            float: left;

            clip-path: circle(41%);
        }
    }

}